# Copy this file to env.ps1 and fill in real values.
# env.ps1 is gitignored and must never be committed.

$env:TF_VAR_database_password = ""
$env:TF_VAR_django_allowed_hosts = ""
$env:ECR_REPOSITORY_URL="<account_id>.dkr.ecr.eu-north-1.amazonaws.com/lesson-5-ecr"
