POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_NAME=django_db
POSTGRES_USER=django_user
POSTGRES_PASSWORD=your_password_here
DJANGO_SECRET_KEY=your_secret_key_here
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*